
body,h1,h2,h3,ul,li,p{
  margin: 0;
  font-family: serif;
  
  
}
body{
  background-color: white;
  
}
a {
  text-decoration: none;
  font-weight: bold;
  color: unset;
}
li{
  list-style: none;
}
/* 最初の動き */
.enji1,.enji2,.enji3{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(183, 25, 63, 1.0);
}
.enji{
  top: 0;
}
.enji2{
  top: calc(100%/3);
}
.enji3{
  top: calc(200%/3);
}
/* ヘッダー */
.header-nav{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: fixed;
  z-index: 999;
}
header ul{
  display: flex;
  justify-content: center;
}
header ul li{
  padding: 0 30px;
  font-size: 28px;
  color: white;
}
/* タイピング風 */
.typing{
  background-image: url(../image/top.JPG);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.typed{
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.typeed-wrap h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}
.typed::after{
  content: "|";
  animation: blink 0.7s infinite;
}
.section-title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  
}
.container{
  margin: 20px 0;
  text-align: center;
}
.pro{
  display: flex;
  text-align: left;
  margin: 0 30px;
}
.pro-img img{
  border-radius: 50%;
  padding-right: 30px;
}
.pro-text h3{
  font-size: 24px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.works-container{
  margin-top: 90px;
}
.works{
  display: flex;
  justify-content: space-around;
}
#contact{
  height: 200px;
  text-align: center;
  font-size: 28px;
  background-color: beige;
  color: black;
  padding: 30px;
}

@keyframes blink{
  50%{opacity: 0;}
}
.section-title{
  display: inline-block;
  border-bottom: 1px solid white;
}

.SPnav{
  display: none;
}

@media (max-width: 678px) {
  /* menu */
  .header-nav{
    display: none;
  }
.pro{
  flex-direction: column;
}
.works{
justify-self: unset;
flex-direction: column;
}
.work{
  margin-bottom: 30px;
  overflow: hidden;
}

}
